html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
}

body {
    margin-bottom: 30vh;
}

label {
    font-size: 1.25em;
    position: relative;
    width: 100%;
    text-align: center;
}

label::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}

label::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

.label {
    background: #fff;
    padding: 0 5px;
}

.padding-right {
    padding-right: 30px !important;
}

.padding-left {
    padding-left: 30px !important;
}

.btn-block {
    padding: 10px 0 !important;
}

@media screen and (max-width:1200px) {
    .padding-right,
    .padding-left,
    .padding-media {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

@media screen and (max-width:1201px) {
    .footer {
        position: relative;
    }
}

@media screen and (max-width:575px) {
    form div div div {
        padding: 0 10px;
    }
}

@media screen and (max-width:425px) {
    label::before,
    label::after {
        display: none;
    }
}