/*
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

.custom-toggler.navbar-toggler {
    border-color: #FCD96F !important;
}

.text-gold {
    color: #FCD96F !important;
}

.text-white {
    color: #fff !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(252, 217, 111, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>") !important;
}

.btn-fondonegro {
    padding: 8px 25px;
    background: black;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: fit-content;
}

.btn-fondonegro:hover {
    background: rgb(56, 32, 77);
    color: white;
}

.w-fit {
    width: fit-content !important;
}

.bg-light-grey {
    background: rgb(242, 242, 242);
}

.btn-Formularios {
    color: white;
    border: 2px solid white;
    background: black;
    transition: .5s all;
}

.btn-Formularios:hover {
    color: black;
    background-color: #EAC102;
    border: 2px solid #EAC102;
}

.w-300 {
    width: 300px;
}

.imgLogo {
    margin: auto;
    width: 100px;
}

.whatsapp {
    margin: auto;
    color: white;
    font-size: 1.5em;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp p {
    margin: 5px 0 0 0;
    transition: 0.5s ease-in-out;
    padding: 0 5px 0 5px;
    border-radius: 10px;
}

.whatsapp p:hover {
    background: white;
    color: black;
    cursor: pointer;
}

.fa-whatsapp-square {
    color: limegreen;
    margin: 0 10px 0 0;
    background: linear-gradient(black, white, white, white, white, white, white, white, white, white, white, white white, white, white, white, white, white, white);
}

.corteSecciones {
    background-color: #323435;
    padding: 15px;
    color: #FCD96F;
    text-align: center;
    text-decoration: underline;
    font-size: 1.2em;
}

.btn-group {
    margin: 0 10px 0 10px;
}

.btn-gold {
    color: white !important;
    position: relative;
}

.btn-gold::before {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: #EAC102;
    position: absolute;
    bottom: 0;
    transition: 0.3s all;
    left: 50%;
}

.btn-gold:hover::before {
    width: 100%;
    left: 0;
}

.bg-black {
    background: black !important;
}

.dropdown-item {
    transition: 0.3s all;
}

.dropdown-item:hover {
    background: rgb(83, 83, 83) !important;
}

.img-carusel {
    height: 450px;
}

.fiestasDestacadas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 50px;
}

.contenedorDias {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #b8b8b8;
    padding: 30px 0 15px 0;
    width: fit-content;
}

.diaSemana:nth-child(1) {
    margin: 0 35px -17px 0;
}

.diaSemana:nth-child(7) {
    margin: 0 0 -17px 35px;
}

.diaSemana {
    margin: 0 35px -17px 35px;
}


/* Esta clase solo se mostrará dependiendo del día en el que estemos, porque no se aplican en todos los elementos */

.activeDia {
    border-bottom: 4px solid black;
    padding-bottom: 16px;
}

.contenedorFlyers {
    display: flex;
    flex: 4;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
    background: white;
}

.flyer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 270px;
    height: auto;
    margin: 20px 20px;
    box-shadow: 1px 1px 4px 0.5px #808080;
}

.fotoFlyer {
    height: 300px !important;
    width: 100%;
}

.discoBanner {
    width: 100%;
    height: 40px;
    background-color: rgb(46, 46, 46);
}

.flyer h4 {
    width: 80%;
    margin: 10px 0 15px 0;
    text-align: left;
}

.datosFlyer {
    text-align: left;
    width: 80%;
    line-height: 5px;
    color: #4d4d4d;
    font-size: small;
}

.datosFlyer p i {
    margin: 0 5px 0 0;
}

.btn-apuntarme {
    background: #FCD96F;
    text-align: center;
    width: 80%;
    margin: 5px 0 15px 0;
    padding: 5px 0;
    border: 2px solid #FFD700;
    transition: 0.5s ease-in-out;
    font-weight: 500;
    border-radius: 5px;
}

.btn-apuntarme:hover {
    background: #FFD700;
}

.btn-Blanco {
    padding: 8px 25px;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-Blanco:hover {
    background: black;
    color: white;
    border: 1px solid white;
}

.btn-Negro {
    padding: 8px 25px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}

.btn-Negro:hover {
    background: white;
    color: black;
    border: 1px solid white;
}

.flechaApuntarme {
    margin: auto 0 auto 5px;
}

.contenedorDiscotecas {
    width: 100%;
    height: fit-content;
    background: url("img/discoLight.jpg") no-repeat;
    background-size: 100% 100%;
}

.fondoContenedorDiscotecas {
    background: rgba(0, 0, 0, 0.8);
    height: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fondoContenedorDiscotecas h2 {
    margin-top: 25px;
}

.fondoContenedorDiscotecas p {
    width: 45%;
    text-align: center;
    margin: 20px 0 0 0;
}

.discotecasDestacadas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
}

.disco {
    margin: 40px 35px;
}

.contenedorRestaurantes {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedorRestaurantes h2,
.contenedorRestaurantes p {
    width: fit-content;
    text-align: center;
}

.restaurantesDestacados {
    width: 100%;
    height: fit-content;
    -webkit-transform: perspective(900px);
    -webkit-transform-style: preserve-3d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 25px 0;
}

.card1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 350px;
    margin: 0px 50px;
    background: linear-gradient(rgb(225, 150, 58), rgb(227, 144, 91));
    transition: .6s;
    transform: rotatex(70deg) translatey(-200px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

.card1:hover {
    transform: rotatex(0deg);
    transform: rotatez(0deg);
    transition: .6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.card1 img {
    transform: translateY(15px);
    width: 200px;
    height: 120px;
}

.card1 h3 {
    margin: 10px 0;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px rgb(255, 255, 255);
    transform: translatey(10px);
}

.card1 p {
    color: white;
    width: 200px;
    text-align: left !important;
    transform: translatex(0px);
}

.btn-reservar {
    padding: 8px 0;
    margin: 0 0 15px 0;
    width: 80%;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-reservar:hover {
    background: black;
    color: white;
    border: 1px solid white;
}

.footer {
    background-color: rgb(15, 15, 15);
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lineaFooter {
    height: 1px;
    background-color: lightgray;
    width: 80%;
}

.contenedorFooter {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
}

.RRSS {
    width: 25%;
    height: fit-content;
    /*border: 1px solid red;*/
}

.RRSS i {
    font-size: 1.75em !important;
    margin: 5px 5px;
    transition: 0.5s linear;
    cursor: pointer;
    color: rgb(100, 100, 100);
}

.RRSS i:hover {
    color: #FCD96F;
}

.footerContent {
    width: 75%;
    /*border: 1px solid lime;*/
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.footerContent span {
    margin: 5px 5px;
    transition: 0.5s linear;
    cursor: pointer;
    color: rgb(100, 100, 100);
}

.footerContent span:nth-child(4) {
    margin: 5px 0 0 5px;
}

.footerContent span:hover {
    color: #FCD96F;
}


/*
MediaQuerys:
(min-width:947px) and (max-width:1024px) {
    Navbar no se toca,
    Carusel no se toca,
    Fiestas => flyers deben quedar dispuestos en 2x2
    Discotecas no se toca,
    Restaurantes no se toca (en ppio => ¿Quitar animacion?)
}
*/

@media screen and (min-width:920px) and (max-width:1024px) {
    .flyer {
        margin: 20px 40px;
    }
    .contenedorDias {
        padding: 30px 0 15px 0;
    }
    .diaSemana:nth-child(1) {
        margin: 0 20px -17px 0;
    }
    .diaSemana:nth-child(7) {
        margin: 0 0 -17px 20px;
    }
    .diaSemana {
        margin: 0 20px -17px 20px;
    }
    .card1 {
        transform: rotatex(0deg);
        transform: rotatez(0deg);
        margin: 20px 50px;
        box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
    }
}


/*
(min-width:780px) and (max-width:946){
    Navbar no tocar,
    Carusel no tocar,
    Fiestas => Dias de la semana más compactos
    Discotecas => deben quedar dispuestos en 2x2
    Restaurates no tocar
    Footer => Reducir tamaño iconos RRSS, reducir letra.
}
*/

@media screen and (min-width:780px) and (max-width:919px) {
    .flyer {
        margin: 20px 40px;
    }
    .contenedorDias {
        padding: 30px 0 15px 0;
    }
    .diaSemana:nth-child(1) {
        margin: 0 20px -17px 0;
    }
    .diaSemana:nth-child(7) {
        margin: 0 0 -17px 20px;
    }
    .diaSemana {
        margin: 0 20px -17px 20px;
    }
    .disco {
        margin: 20px 75px;
    }
    .fondoContenedorDiscotecas p {
        width: 70%;
        text-align: center;
        margin: 20px 0;
    }
    .card1 {
        transform: rotatex(0deg);
        transform: rotatez(0deg);
        margin: 20px 50px;
        box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
    }
    .contenedorRestaurantes p {
        width: 70%;
    }
    .RRSS i {
        font-size: 1.65em !important;
    }
}

@media screen and (min-width:630px) and (max-width:779px) {
    .flyer {
        margin: 20px 40px;
    }
    .contenedorDias {
        padding: 30px 0 15px 0;
    }
    .diaSemana:nth-child(1) {
        margin: 0 20px -17px 0;
    }
    .diaSemana:nth-child(7) {
        margin: 0 0 -17px 20px;
    }
    .diaSemana {
        margin: 0 20px -17px 20px;
    }
    .disco {
        margin: 20px 75px;
    }
    .fondoContenedorDiscotecas p {
        width: 70%;
        text-align: center;
        margin: 20px 0;
    }
    .card1 {
        transform: rotatex(0deg);
        transform: rotatez(0deg);
        margin: 20px 50px;
        box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
    }
    .contenedorRestaurantes p {
        width: 70%;
    }
    .RRSS i {
        font-size: 1.65em !important;
    }
    .footerContent {
        justify-content: flex-end;
    }
    .footerContent span {
        margin: 5px 10px
    }
}

@media screen and (min-width:475px) and (max-width:629px) {
    h2 {
        font-size: 1.75em !important;
        text-align: center;
        margin-bottom: 10px;
    }
    .flyer {
        margin: 20px 40px;
        width: 100%;
    }
    .fotoFlyer {
        height: 425px;
    }
    .contenedorDias {
        padding: 30px 0 15px 0;
    }
    .diaSemana:nth-child(1) {
        margin: 0 7px -17px 0;
    }
    .diaSemana:nth-child(7) {
        margin: 0 0 -17px 7px;
    }
    .diaSemana {
        margin: 0 7px -17px 7px;
    }
    .disco {
        margin: 20px 75px;
    }
    .fondoContenedorDiscotecas p {
        width: 70%;
        text-align: center;
        margin: 20px 0;
    }
    .card1 {
        transform: rotatex(0deg);
        transform: rotatez(0deg);
        margin: 20px 50px;
        box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
    }
    .fondoContenedorDiscotecas p,
    .contenedorRestaurantes p {
        width: 90%;
        text-align: center;
        margin: 20px 0;
    }
    .contenedorFooter {
        flex-direction: column-reverse;
    }
    .RRSS {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .RRSS i {
        margin: 10px 10px;
    }
    .RRSS i:nth-child(1) {
        margin: 10px 10px 0 0;
    }
    .footerContent {
        justify-content: flex-start;
        width: 100%;
    }
    .footerContent span {
        margin: 5px 5px
    }
    .footerContent span:nth-child(1),
    .footerContent span:nth-child(3) {
        margin: 5px 5px 5px 0;
    }
    .img-carusel {
        height: 300px;
    }
}

@media screen and (max-width:474px) {
    h2 {
        font-size: 1.5em !important;
        text-align: center;
        margin: 0 20px 10px 20px;
    }
    .flyer {
        margin: 20px 20px;
        width: 100%;
        height: 100%;
    }
    .fotoFlyer {
        height: auto;
    }
    .contenedorDias {
        display: none;
    }
    .disco {
        width: 100%;
        margin: 20px 20px;
    }
    .disco img {
        width: 100%;
    }
    .fondoContenedorDiscotecas p {
        width: 70%;
        text-align: center;
        margin: 20px 0;
    }
    .card1 {
        transform: rotatex(0deg);
        transform: rotatez(0deg);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 375px;
        margin: 20px 20px;
        justify-content: flex-start;
    }
    .card1 img {
        width: 90%;
        height: 150px;
        margin: 0;
    }
    .card1 p {
        width: 90%;
        margin: 0 0 30px 0 !important;
    }
    .btn-reservar {
        margin: 0 0 10px 0;
        padding: 10px 0;
        width: 90%;
    }
    .fondoContenedorDiscotecas p {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .contenedorRestaurantes h2,
    .contenedorRestaurantes p {
        width: calc(100%-40px);
        text-align: center;
        margin: 10px 20px;
    }
    .contenedorRestaurantes {
        padding: 20px 0;
    }
    .contenedorFooter {
        flex-direction: column-reverse;
    }
    .RRSS {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .RRSS i {
        margin: 10px 10px;
    }
    .RRSS i:nth-child(1) {
        margin: 10px 10px 0 0;
    }
    .footerContent {
        justify-content: flex-start;
        width: 100%;
    }
    .footerContent span {
        margin: 5px 5px
    }
    .footerContent span:nth-child(1),
    .footerContent span:nth-child(3) {
        margin: 5px 5px 5px 0;
    }
    .footerContent span:nth-child(4) {
        margin: 5px 0 5px 0;
    }
    .img-carusel {
        height: 300px;
    }
    .footer {
        height: 200px;
    }
    .contenedorFlyers,
    .discotecasDestacadas {
        margin-bottom: 0px;
    }
    .btn-Negro,
    .btn-Blanco {
        width: calc(100%-40px);
        margin: 0 20px 25px 20px;
        padding: 8px 20px;
    }
    .btn-fondonegro {
        width: calc(100%-40px);
        padding: 8px 20px;
    }
    .fiestasDestacadas {
        margin-bottom: 0px;
    }
}